*{
    font-family:Helvetica,sans-serif;
  
}

#header{
    background-color: #f1f3ff;
}

.pl-7rem{
    padding-left: 4rem;
}
.jumbotron {
    background-color: #f1f3ff;
  }

 .item{
    background-color: #f1f3ff;
    width: 100%;
    max-width: 550px;
    min-width: 250px;
    margin-right: 30px; 
    background-size: 200px 100px;
    
    /* background-image:url(public/OwlCarousel2/img/Leftbutton.png); */
    border-radius: 10px;
    box-shadow: 10px;
} 
.fa-star {
    color: gold;
    
}

/* Testimony Section */

.testimony-section h1 {
  margin-top: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.testimony-section p {
  margin-top: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

/* Testimony Section */


/* SIDEBAR */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    /* background-color: #111; */
    background-color: #f1f3ff;
    color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
    z-index: 20;
  }
  
  .sidebar a {
    /* padding: 5px 8px 8px 22px; */
    text-align: left;
    text-decoration: none;
    font-size: 15px;
    /* color: #818181; */
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    /* color: #f1f1f1; */
    color: black;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    /* margin-left: 50px; */
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #f1f3ff;
    color: black;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left 0.5s;
    padding: 16px;
  }

  /* Select box */
  .form-box{
    /* background: #7b7b7b; */
    padding: 10px 60px;
    margin-left: 40px;
  }
  .search-bar{
    display: flex;
    justify-content: center;
  }
  .search-bar div{
    padding-left: 15px;
    
  }
  .search-btn{
    background: green;
    color: #fff;
    height: 38px;
    width: 100px;
    border: none;
    margin-top: 27px;
    /* border-radius: 7px; */
  }
  .search-btn:hover{
    background: green;
  }
  .label{
    text-size-adjust: 10px;
  }

.title{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.filter {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.btn-rent-car {
  background-color: #5cb85f;
  color: white;
  margin-top: 25px;
  padding: 8px 12px;
  min-width: 150px;
  border-radius: 2px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #5cb85f;
  transition: 0.3s ease-in-out;
}
  
@media only screen and (max-width: 320px) {
    .pl-7rem{
       margin-left: -1.5rem;
        text-align: center;
    }
    .text-sm{
        font-size: 14px;
    }
    .star{
        text-align: center;
    }
}
@media only screen and (max-width: 375px) {
    .pl-7rem{
      margin-left: -1.5rem;
      text-align: center;
    }
    .star{
        text-align: center;
    }
}
@media only screen and (max-width: 425px) {
    .pl-7rem{
        margin-left: -1.5rem;
        margin-right: 1.5rem;
        text-align: center;
    }
    .star{
        text-align: center;
    }
}
@media only screen and (max-width: 768px) {
    /* header */
    .pl-7rem{
        padding-left: 40px;
    }
    .img-car{
       padding-left: 4.5rem;
    }
    /* service */
    .pd-sm{
        margin-top: -6rem;
    }
    .kategori h2{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .owl-carousel{
        width: 100%;
    }
    .col-sm-3{
        width: 100%;
    }
    .star{
        text-align: center;
    }
    .navbar-toggler,
    .navbar-collapse {
    display: none;
    background-color: #f1f3ff;
  }
}

@media (min-width: 768px) {
    #main,
    .sidebar {
      display: none;
      background-color: #f1f3ff;
    }
  }
@media only screen and (max-width:1024px){
    .pl-7rem{
        padding-left: 40px;
    }
    .navbar-nav li{
        margin-top: 10px;
    }
    .navbar-nav div button{
        margin-top: 10px;
        margin-right: 20px;
    }
}

